/********** Template CSS **********/
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-dark,
.btn.btn-outline-dark:hover {
    color: var(--bs-white);
    font-weight: 500;
}

.btn.btn-primary:hover {
    background: var(--bs-dark);
    border-color: var(--bs-dark);
}

.btn.btn-dark:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand img {
    max-height: 60px;
}

.navbar .navbar-nav .nav-link {
    margin: 0 12px;
    padding: 10px 0;
    color: var(--bs-secondery);
    font-size: 17px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .navbar-nav .dropdown-item:hover,
.navbar .navbar-nav .dropdown-item.active {
    background: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand img {
        max-height: 45px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .navbar .nav-item .dropdown-menu {
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn-light {
    font-weight: 500;
    color: var(--bs-secondery);
}

.navbar .btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}


/*** Hero ***/
.hero-header {
    background: url(../img/hero.jpg) top right no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--bs-primary);
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--bs-primary);
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--bs-primary);
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid var(--bs-white);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: var(--bs-white);
    background: #000000;
    opacity: 1;
}

.page-header {
    background: url(../img/hero.jpg) center right no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-weight: 500;
}

.page-header .breadcrumb-item a,
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-secondery)
}

.page-header .breadcrumb-item a:hover,
.page-header .breadcrumb-item.active {
    color: var(--bs-primary);
}


/*** Appointment ***/
@media (min-width: 992px) {
    .container.appointment {
        max-width: 100% !important;
    }

    .container.appointment .appointment-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }

    .container.appointment .appointment-form {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .container.appointment .appointment-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }

    .container.appointment .appointment-form  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .container.appointment .appointment-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }

    .container.appointment .appointment-form  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.container.appointment .appointment-text {
    background: linear-gradient(rgba(205, 95, 55, .95), rgba(205, 95, 55, .95)), url(../img/service-4.jpg) center center no-repeat;
    background-size: cover;
}

.container.appointment .appointment-form {
    background: linear-gradient(rgba(72, 30, 11, .95), rgba(72, 30, 11, .95)), url(../img/service-1.jpg) center center no-repeat;
    background-size: cover;
}

.container.appointment .appointment-text .h-100,
.container.appointment .appointment-form .h-100 {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*** Service ***/
.service-item {
    position: relative;
    overflow: hidden;
}

.service-item .service-icon {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item .service-icon img {
    max-width: 60px;
    max-height: 60px;
}

.service-item .service-text {
    min-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service-item .service-img {
    transition: .5s;
}

.service-item:hover .service-img {
    transform: scale(1.2) rotate(7deg);
}



/*** Team ***/
.team {
    position: relative;
}

.team::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 110px;
    left: 0;
    bottom: 3rem;
    background: var(--bs-light);
    z-index: -1;
}

.team .team-item {
    position: relative;
    overflow: hidden;
}

.team .team-item img {
    position: relative;
    transform: scale(1.1);
    transition: .5s;
}

.team .team-item:hover img {
    margin-top: -30px;
    padding-bottom: 30px;
}

.team .team-text {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team .team-text-overflow {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: .5s;
}

.team .team-item:hover .team-text-overflow {
    bottom: 0;
    opacity: 1;
}



/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    animation: pulse-img 5s ease-out infinite;
}

@keyframes pulse-img {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 0;
    }

    50% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 0;
    }
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    background: var(--bs-primary);
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--bs-dark);
}


/*** Footer ***/
.footer {
    color: rgba(256, 256, 256, .6);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(256, 256, 256, .6);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(256, 256, 256, .6);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--bs-light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: rgba(256, 256, 256, .6);
    border: 1px solid rgba(256, 256, 256, .6);
}

.footer .btn.btn-square:hover {
    color: var(--bs-white);
    border-color: var(--bs-primary);
    background: var(--bs-primary);
}

.footer .form-control {
    color: var(--bs-light);
    border-color: rgba(256, 256, 256, .6);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}